.border{
    border-left: 2px solid rgba(7, 150, 83, 0.692);
    height: 3px;
    margin-right: 3px;
}
.color{
    color:rgba(7, 150, 83, 0.692);
   
}
.bgcolor{
    background-color : rgba(7, 150, 83, 0.692);
}
